 header {
            background: rgba(36, 43, 184, 0.521);
            background-size: cover;
            background-position: center;
            min-height: 70px;
            font-family: 'Times New Roman', Times, serif;
            text-align: center;
        }

        body {
            border: 50px solid rgba(36, 43, 184, 0.521);
            background: url(pallas.jpg);
            background-size: cover;
        }

        p {
            background-color: rgba(196, 168, 223, 0.801);
            
        }
       

        .topnav {
            margin: 0 auto;
            width: fit-content; 
            padding: 0;
        }
